<div id="header">
  <div class="container">
    <h1 class="main-heading logo">SideComments.js</h1>
    <h2 class="main-heading">A sweet ass commenting interface component.</h2>
    
    <a href="#" id="cta" class="btn large">
      <i class="fa fa-cloud-download"></i>
      Download SideComments.js
    </a>
  </div>
  <div class="overlay"></div>
  <video autoplay loop id="header-bg-vid">
    <source src="/videos/typing.webm" type="video/webm">
    <source src="/videos/typing.mp4" type="video/mp4">
  </video>
</div>