<div class="section-header">
  <div class="container">
    <h2>Get Started</h2>
    <p>
      How to start using SideComments.js on your website immediately.
    </p>
  </div>
</div>
<div class="container">
  <p>
    # TODO
  </p>
</div>