<div id="demo" class="section-header first">
  <div class="container">
    <h2>Demo</h2>
    <p>
      Below is an example of SideComments.js in action. Each section of text can be commented on. Go ahead and give it a try!
    </p>
  </div>
</div>
<div id="commentable-container" class="container commentable-container">

  <h1 class="title center-text">
    SideComments.js In Action
  </h1>
  <p data-section-id="1" class="commentable-section">
    Each paragraph tag has the "commentable-section" class, making it a section which can be commented on after you've initialized a new SideComments object and pointed it at the parent element, which is "#commentable-container" for this demo.
  </p>
  <p data-section-id="2" class="commentable-section">
    Hover over each section and you'll notice a little "comment bubble" pop up. Clicking on the markers on the right will show the SideComments. Sections without any comments only show their marker on hover.
  </p>
  <p data-section-id="3" class="commentable-section">
    This is the default theme that comes with SideComments.js. You can easily theme SideComments to your liking by not including "default-theme.css" and just styling it all yourself.
  </p>
</div>