<div class="section-header">
  <div class="container">
    <h2>Get Started</h2>
    <p>
      How to start using SideComments.js on your website immediately.
    </p>
  </div>
</div>
<div class="container">
  <ul>
  	<li>
  		<h4>
  			1. Download SideComments.js
  		</h4>
  		<p>
  			<a href="#" class="btn">
  				<i class="fa fa-cloud-download"></i>
  				Download SideComments.js
  			</a>
  		</p>
  	</li>
  	<li>
  		<h4>
  			2. Include SideComments.js in your project.
  		</h4>
  		<p class="alert">
  			<i class="fa fa-info"></i> You must include jQuery in your project in order for SideComments.js to work. This component uses jQuery to manage DOM manipulation and will not work without it.
  		</p>
  		<p>
  			You can download jQuery from <a href="http://jquery.com">http://jquery.com/</a>.
  		</p>
  		<p class="cdn">
  			Or you can use Google's CDN and just include the script for whichever version of jQuery you want to use:
  			<br>
  			<pre>
  				,
  			</pre>
  		</p>
  	</li>
  	<li>
  		3. Initialize a new SideComments object.
  	</li>
  </ul>
</div>