<!DOCTYPE html>
<html>
  <head>
    <title>Side Comments - Medium.com style commenting</title>
    <link href='http://fonts.googleapis.com/css?family=Inconsolata|Fugaz+One|Racing+Sans+One|Oxygen:400,300,700|Sansita+One|Mouse+Memoirs' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
  	{{{body}}}
  </body>
</html>