<div id="footer">
  <div class="container">
    <div class="row clearfix">
      <div class="column third">
        <p class="attribution">
          made with <i class="fa fa-heart"></i> by <a href="www.twitter.com/theericanderson">eric anderson</a>
        </p>
      </div>
      <div class="column third">
        <p>
          Code licensed under <a href="https://github.com/aroc/side-comments/blob/master/LICENSE">MIT</a>
        </p>
      </div>
      <div class="column third">
        <p>
          Current version: 0.0.1
        </p>
        <ul class="nav">
          <li>
            <i class="fa fa-caret-right"></i>
            <a href="https://github.com/aroc/side-comments/">
              Github
            </a>
          </li>
          <li>
            <i class="fa fa-caret-right"></i>
            <a href="https://github.com/aroc/side-comments/issues">Issues</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>