<div id="header">
  <div class="container">
    <h1 class="main-heading logo">SideComments.js</h1>
    <h2 class="main-heading">A sweet-ass commenting interface component.</h2>
    
    <a href="https://github.com/aroc/side-comments/archive/master.zip" id="cta" class="btn large">
      <i class="fa fa-cloud-download"></i>
      Download SideComments.js
    </a>

    <p class="version">Version 0.0.2</p>

    <iframe src="http://ghbtns.com/github-btn.html?user=aroc&repo=side-comments&type=watch&count=true&size=large"
  allowtransparency="true" frameborder="0" scrolling="0" width="160" height="30"></iframe>
  </div>
  <div class="overlay"></div>
  <video autoplay loop id="video">
    <source src="public/videos/typing.webm" type="video/webm">
    <source src="public/videos/typing.mp4" type="video/mp4">
  </video>
</div>