<div id="nav">
  <div class="container">
    <a class="logo" href="#header">SideComments.js</a>
    <ul>
      <li>
        <a href="#demo">
          <i class="fa fa-magic"></i>
          Demo
        </a>
      </li>
      <li>
        <a href="#get-started">
          <i class="fa fa-check"></i>
          Get Started
        </a>
      </li>
      <li>
        <a href="#docs">
          <i class="fa fa-info"></i>
          Docs
        </a>
      </li>
      <li>
        <a href="https://github.com/aroc/side-comments">
          <i class="fa fa-github"></i>
          Github Project
        </a>
      </li>
    </ul>
    <a id="mobile-menu-btn" href="#">
      Menu
    </a>
    <a id="close-nav-overlay" href="#">&times;</a>
  </div>
</div>