{{> header}}
<div id="navbar" class="over-vid">
  <div class="container">
    <ul>
      <li>
        <a href="#demo">
          <i class="fa fa-magic"></i>
          Demo
        </a>
      </li>
      <li>
        <a href="#get-started">
          <i class="fa fa-check"></i>
          Get Started
        </a>
      </li>
      <li>
        <a href="#docs">
          <i class="fa fa-info"></i>
          Docs
        </a>
      </li>
      <li>
        <a href="https://github.com/aroc/side-comments">
          <i class="fa fa-github"></i>
          Github Project
        </a>
      </li>
    </ul>
  </div>
</div>
<div id="main-content" class="over-vid">
  {{> section_demo}}
  {{> section_get_started}}
  {{> section_docs}}
</div>
<div id="footer">
  Made with <i class="fa fa-heart"></i> by <a href="www.twitter.com/theericanderson">Eric Anderson</a>
</div>
<script type="text/javascript" src="/javascripts/app.js"></script>