{{> header}}
<div id="navbar" class="over-vid">
  <div class="container">
    <ul>
      <li>
        <a href="#demo">
          <i class="fa fa-magic"></i>
          Demo
        </a>
      </li>
      <li>
        <a href="#get-started">
          <i class="fa fa-check"></i>
          Get Started
        </a>
      </li>
      <li>
        <a href="#docs">
          <i class="fa fa-info"></i>
          Docs
        </a>
      </li>
      <li>
        <a href="https://github.com/aroc/side-comments">
          <i class="fa fa-github"></i>
          Github Project
        </a>
      </li>
    </ul>
  </div>
</div>
<div id="main-content" class="over-vid">
  {{> section_demo}}
  {{> section_get_started}}
  {{> section_docs}}
</div>
<div id="footer">
  <div class="container">
    <div class="row clearfix">
      <div class="column third">
        <p class="attribution">
          made with <i class="fa fa-heart"></i> by <a href="www.twitter.com/theericanderson">eric anderson</a>
        </p>
      </div>
      <div class="column third">
        <p>
          Code licensed under <a href="https://github.com/aroc/side-comments/blob/master/LICENSE">MIT</a>
        </p>
      </div>
      <div class="column third">
        <p>
          Current version: 0.0.1
        </p>
        <ul class="nav">
          <li>
            <i class="fa fa-caret-right"></i>
            <a href="https://github.com/aroc/side-comments/">
              Github
            </a>
          </li>
          <li>
            <i class="fa fa-caret-right"></i>
            <a href="https://github.com/aroc/side-comments/issues">Issues</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript" src="/javascripts/app.js"></script>