@import "../../javascripts/app/build/build.css";
@import "vendor/normalize.css";
@import "vendor/grid.css";
@import "vendor/font-awesome.css";
h1,
h2,
h3,
h4,
h5,
p,
div,
li {
  font-family: 'Oxygen', Helvetica, Sans-serif;
}
.center-text {
  text-align: center;
}
.title {
  font-size: 32px;
}
.btn {
  border: 1px solid #DDD;
  border-radius: 100px;
  padding: 15px 30x;
  text-align: center;
  font-size: 14px;
  text-decoration: none;
}
.btn:hover {
  text-decoration: none;
}
.btn.large {
  padding: 15px 25px;
  font-size: 20px;
}
.btn i {
  margin-right: 8px;
}
#header {
  background: #1A5132;
  min-height: 350px;
  padding: 60px 0px;
  overflow: none;
  position: relative;
}
#header .container {
  position: relative;
  z-index: 20;
}
#header .overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: rgba(38, 106, 68, 0.6);
  z-index: 10;
}
#header h1 {
  font-size: 72px;
  line-height: 72px;
  font-family: 'Sansita One', Sans-serif;
  margin: 0;
  font-weight: 300;
}
#header h2 {
  font-size: 24px;
  line-height: 24px;
  font-style: italic;
  font-weight: 400;
}
#header-bg-vid {
  width: 100%;
  position: absolute;
  z-index: 1;
  top: -300px;
  left: 0px;
  background: url('../images/typing.png') no-repeat;
}
.over-vid {
  position: relative;
  z-index: 10;
}
.main-heading {
  color: #FFF;
  text-align: center;
  margin: 0;
  text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.4);
}
#cta {
  display: block;
  margin: 35px auto 0 auto;
  width: 400px;
  color: #FFF;
}
#cta:hover {
  background: #FFF;
  color: #1A5132;
}
#navbar {
  height: 60px;
  background: #359D64;
}
#navbar ul {
  margin: 0 auto;
  list-style: none;
  padding: 0;
}
#navbar li {
  float: left;
  padding: 0 20px;
}
#navbar a {
  color: #DDD;
  text-decoration: none;
  line-height: 60px;
}
#navbar a:hover {
  color: #FFF;
}
#main-content {
  background: #FFF;
}
.section-header {
  border: 1px solid #DDD;
  background: #F8F8F8;
  padding: 40px 0;
  margin: 60px 0;
}
.section-header.first {
  margin-top: 0;
}
.section-header h2 {
  font-size: 72px;
  line-height: 72px;
  font-weight: 700;
}
.section-header p {
  margin: 0 0 0 3px;
  max-width: 550px;
}
