<!DOCTYPE html>
<html>
  <head>
    <title>Side Comments - Medium.com style commenting</title>
    <link href='http://fonts.googleapis.com/css?family=Inconsolata|Fugaz+One|Racing+Sans+One|Oxygen:400,300,700|Sansita+One|Mouse+Memoirs' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="public/build/build.min.css">
    <link rel="shortcut icon" href="public/favicon.ico" type="image/x-icon">
		<link rel="icon" href="public/favicon.ico" type="image/x-icon">
    <meta name = "viewport" content = "user-scalable=no, initial-scale=1.0, maximum-scale=1.0, width=device-width">
  </head>
  <body>
  	{{> header}}
    {{> nav}}
    <div id="main-content">
      {{> section_demo}}
      {{> section_get_started}}
      {{> section_docs}}
    </div>
    {{> footer}}
    <script type="text/javascript" src="public/build/build.min.js"></script>
  </body>
</html>