.btn {
	border-radius: 100px;
	padding: 15px 30px;
	text-align: center;
	font-size: 14px;
	text-decoration: none;
	color: #2D754E;
	border: 1px solid #35AA6B;

	&:hover {
		text-decoration: none;
		background: #35AA6B;
		color: #FFF;
	}
}

.btn.large {
	padding: 15px 25px;
	font-size: 20px;
}

.btn i {
	margin-right: 8px;
}